.App {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
}

.header {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: rgb(73, 97, 200);
  margin-bottom: 20px;
}

.btn-1 {
  font-size: 16px;
  height: 56px;
  background-color: rgb(73, 97, 200);
  border: 1px solid rgb(73, 97, 200);
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out 0s;
  width: 130px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin: 15px;
}

.btn-1:hover {
  background-color: rgb(9, 20, 66);
  border-color: rgb(9, 20, 66);
}

.btn-2 {
  font-size: 16px;
  height: 56px;
  color: rgb(73, 97, 200);
  border: 1px solid rgb(73, 97, 200);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out 0s;
  width: 130px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin: 15px;
}

.btn-2:hover {
  color: #404040;
  border-color: #404040;
}

.btn-back {
  font-size: 30px;
  height: 56px;
  background-color: transparent;
  border: 0px;
  color: rgb(73, 97, 200);
  transition: all 0.1s ease-in-out 0s;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin: 15px 8%;
}

.btn-back:hover {
  background-color: transparent;
  border-color: #404040;
  color: #404040;
}

.input-1 {
  font-size: 16px;
  height: 56px;
  color: rgb(73, 97, 200);
  border: 1px solid rgb(73, 97, 200);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out 0s;
  width: 300px;
  border-radius: 8px;
  font-weight: bold;
  margin: 15px;
}

.item-container {
  color: #404040;
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
}

.item-line {
  display: flex;
  border: 1px solid rgb(73, 97, 200);
  border-radius: 8px;
  width: 40%;
  padding: 15px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-info {
  border: none;
  color: rgb(73, 97, 200);
  margin: 0 5px;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.item-info:hover {
  background-color: transparent;
  border-color: #404040;
  color: #404040;
  font-weight: bold;
}

.up-nav {
  width: 100%;
  height: 80px;
  background-color: rgb(73, 97, 200);
  color: white;
  display: flex;
  margin-top: 0;
  justify-content: flex-end;
}
.item-details-container {
  margin: auto;
  width: 80%;
  border: 1px solid rgb(73, 97, 200);
  border-radius: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(73, 97, 200);
}
.item-head {
  padding: 16px 18px;
  background-color: rgb(73, 97, 200);
  color: white;
  border-radius: 15px 15px 0px 0px;
}
.item-body {
  padding: 10px;
  background-color: white;
  color: #404040;
  border-radius: 15px 0px 0px 15px;
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
}
